@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

Html,
body {
    Height: 100vh;
    Width: 100vw;
    Overflow-x: hidden;
    background-color: black;
    color: white;
}

/*NAVIGATION - BAR */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

nav>img {
    width: 8rem;
}

.navigation {
    display: flex;
    column-gap: 2.3rem;
    justify-content: center;
    align-items: center;
}

.navigation>a {
    color: white;
    font-size: 100%;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

#first-btn {
    color: #5E6AD2;
}

#sec-btn>button {
    background-color: #525ec6;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
}

#hamburger {
    display: none;
}

@media screen and (max-width: 1167px) {

    .navigation,
    .nav-buttons>a {
        display: none;
    }

    #hamburger {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background-color: #2e2d2d;
        padding: 1rem;
        border-radius: 15px;
    }
}


/*DIVISON-1*/
.DIVISION-1 {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.version>button {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 1px 1px 24px #800080;
    padding: 1rem;
    font-size: 15px;
}

.version>button>#bar {
    color: #413a3a;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.block>.p1 {
    font-weight: bold;
    font-size: 59px;
}

.block>.p2 {
    color: #bababa;
    font-size: 20px;
}

.block>button {
    padding: 1rem 1.8rem;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: #525ec6;
    color: white;
    width: 40%;
}

@media screen and (max-width: 960px) {
    .card {
        width: 50%;
    }

    .block>.p1 {
        font-size: 40px;
    }

    .block>.p2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .card {
        width: 100%;
        padding: 1.5rem;
    }

    .block>.p1 {
        font-size: 30px;
    }

    .block>.p2 {
        font-size: 15px;
    }
}


/*DIVISON-2*/
.DIVISION-2 {
    margin-top: 1rem;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    text-align: center;
}

.DIVISION-2>p {
    font-size: 18px;
    color: #828FFF;
    font-family: 'Roboto', 'Poppins', 'Sans-serif';
}

.DIVISION-2>.companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

@media screen and (max-width:920px) {
    .DIVISION-2>.companies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media screen and (max-width:750px) {
    .DIVISION-2>.companies {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 3rem;
    }
}

@media screen and (max-width: 560px) {
    .DIVISION-2>.companies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .DIVISION-2>.companies {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 3rem;
    }
}


/*DIVISION 3*/
.DIVISION-3 {
    background-color: #1C1D1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.title1 {
    font-weight: bold;
    font-size: 40px;
}

.title2 {
    color: #bababa;
    font-size: 25px;
}

.cards {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.C {
    border: none;
    border-radius: 12px;
    padding: 2.2rem;
    width: 304px;
    background-color: #27272A;
}

.c1 {
    margin-top: 0.5rem;
    font-size: 20px;
}

.c2 {
    font-size: 17px;
    color: #bababa;
    margin-top: 1rem;
}

@media screen and (max-width: 1030px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .title1 {
        font-size: 25px;
    }

    .title2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 680px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}


/*DIVISION 4*/
.DIVISION-4 {
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div4-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;
    padding-left: 3rem;
    justify-content: center;
    text-align: start;
}

.left-title {
    font-weight: bold;
    font-size: 35px;
}

.left-1,
.left-2 {
    color: #bababa;
}

.left-1>span,
.left-2>span {
    font-weight: bold;
    color: white;
}

.div4-right>img {
    height: 85%;
    width: 100%;
}

@media screen and (max-width: 1230px) {
    .div4-right>img {
        width: 85%;
        float: right;
    }

    .left-title {
        font-size: 25px;
    }

    .left-1,
    .left-2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    .left-title {
        font-size: 18px;
    }

    .left-1,
    .left-2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .DIVISION-4 {
        flex-direction: column;
        gap: 1rem;
    }

    .div4-left {
        padding: 1rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .left-1, .left-2{
        text-align: start;
    }
}

/*DIVISION 5*/
.DIVISION-5{
    background-color: #1C1D1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7.5rem 6rem;
    gap: 2rem;
}
.top{
    width: 50%;
}
.top1{
    font-weight: bold;
    font-size: 40px;
}
.top2{
    font-sizE: 17px;
    color: #bababa;
}
.bottom{
    background: linear-gradient(to top right, #FF6682,#CE3D93,#9909C3,#8322FF,#4BB2FD,#70DCFE,#AAC1A6,#FF9D66,#FF9869,#FF8672);
    width: 100%;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1200px){
    .top{width: 100%};
}
@media screen and (max-width: 700px){
    .top{width: 100%};
    .top > .top1{
        font-size: 30px;
    }
    .top > .top2{
        font-size: 15px;
    }
}
@media screen and (max-width: 550px){
    .top > img{
        width: 30%;
    }
}

/*DIVISION 6*/
.DIVISION-6 {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div6-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;
    padding-right: 3rem;
    justify-content: center;
    text-align: start;
}

.right-title {
    font-weight: bold;
    font-size: 35px;
}

.right-1,
.right-2 {
    color: #bababa;
}

.right-1>span,
.right-2>span {
    font-weight: bold;
    color: white;
}

.div6-left>img {
    height: 85%;
    width: 100%;
}

@media screen and (max-width: 1230px) {
    .div6-left>img {
        width: 85%;
        float: left;
    }

    .right-title {
        font-size: 25px;
    }

    .right-1,
    .right-2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    .right-title {
        font-size: 18px;
    }

    .right-1,
    .right-2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .DIVISION-6 {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .div6-right {
        padding: 1rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .right-1, .right-2{
        text-align: start;
    }
}


/*DIVISION 7*/
.DIVISION-7 {
    padding-top: 5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1C1D1F;
}

.div7-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;
    padding-left: 3rem;
    justify-content: center;
    text-align: start;
}

.left-title {
    font-weight: bold;
    font-size: 35px;
}
.left-2 {
    color: #bababa;
}
.left-2>span {
    font-weight: bold;
    color: white;
}
.div7-right>img {
    height: 85%;
    width: 100%;
}

@media screen and (max-width: 1230px) {
    .div7-right>img {
        width: 85%;
        float: right;
    }

    .left-title {
        font-size: 25px;
    }

    .left-2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    .left-title {
        font-size: 18px;
    }
    .left-2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .DIVISION-7 {
        flex-direction: column;
        gap: 1rem;
    }

    .div7-left {
        padding: 1rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .left-2{
        text-align: start;
    }
}

/*DIVISION 8*/
.DIVISION-8{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem;
}
.row-1{
    margin-bottom: 1rem;
    width: 60%;
}
.row-1 > .para-title{
    font-weight: bold;
    font-size: 42px;
}
.row-1 > .para-content{
    font-size: 18px;
    color: #bababa;
}
.row-2, .row-3, .row-4{
    display: flex;
    flex-direction: row;
}
.wrap1{
    background-color: #1B1C1D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 5rem;
    width: 37.4%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.wrap1 > .head{
    font-size: 19px;
    font-weight: bold;
}
.wrap1 > .tail{
    font-size: 16px;
    color: #bababa;
}
.wrap1 > .images{
    display: flex;
    text-align: start;
    gap: 1.3rem;
}
.wrap1> .images > .icons{
    height: 32px;
}
.wrap2{
    width: 37.4%;
}
.row-5{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.base{
    display: flex;
    background-color: #1B1C1D;
    padding: 2rem;
    width: 37%;
    border: none;
    border-radius: 12px;
    gap: 1rem;
    align-items: center;
}
.base  > img{
    height: 32px;
}
.base-block{
    display: flex;
    flex-direction: column;
}
.base-p1, .base-p2{
    font-size: 15px;
}
.base-p2{
    color: #bababa;
}
@media screen and (max-width: 1060px){
    .row-1{
        width: 80%;
    }
}
@media screen and (max-width: 750px){
    .row-1{
        width: 100%;
    }
}
@media screen and (max-width: 1200px){
    .wrap2{
        width: 60%;
    }
    .base{
        width: 50%;
    }
}
@media screen and (max-width: 450px){
    .row-1 > .para-title{
        font-size: 30px;
    }
    .row-2 > .para-content{
        font-size: 15px;
    }
}
@media screen and (max-width: 950px){
    .row-1, .row-2, .row-3, .row-4 , .row-5{
        display: flex;
        flex-direction: column;
    }
    .wrap1{
        width: 100%;
    }
    .wrap2, .base{
        width: 100%;
    }
    .DIVISION-8{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 530px){
    .wrap1{
        padding: 2rem;
    }
}
@media screen and (max-width: 425px){
    .wrap1 > .head{
        font-size: 16px;
    }
    .wrap1 > .tail{
        font-size: 14px;
    }
    .base{
        flex-direction: column;
    }
    .base-p1, .base-p2{
        font-size: 12.5px;
    }
}


/*DIVISION-9*/
.DIVISION-9{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
}
.logo{
    display: flex;
    gap: 1rem;
    padding: 0.8rem 2rem;
    border: none;
    box-shadow: 1px -1px 24px #800080;
    border-radius: 25px;
}
.logo > p{
    font-style: italic;
    font-weight: 600;
}
.mid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}
.RIGHT {
    width: 30%;
}
.RIGHT > .name{
    font-weight: bold;
    font-size: 28px;
}
.RIGHT > .des{
    font-size: 20px;
    font-weight: 500;
}
.RIGHT > .breaker{
    border: 1px solid #47474c;
    margin: 2rem 0rem;
}
.RIGHT > .part-1, .part-2, .final{
    font-size: 15.5px;
    margin-bottom: 1.5rem;
}
.RIGHT > .part-1 > span{
    color: #5E6AD2;
}
.RIGHT > .final{
    color: #bababa;
    font-style: italic;
}
.end > button{
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    background: linear-gradient(to top right, #465EB7,#6D40D2);
    color: white;
    width: 100%;
    font-size: 17px;
}
@media screen and (max-width: 920px){
    .mid{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .RIGHT{
        padding: 0rem 4rem;
        width: 100%;
    }
}
@media screen and (max-width: 525px){
    .DIVISION-9{
        gap: 4rem;
    }
}


/*DIVISION 10*/
.DIVISION-10{
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.wrap-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    gap: 1rem;
}
.wrap-last > .f1{
    font-weight: bold;
    font-size: 58px;
}
.wrap-last > .f2{
    font-size: 22px;
    color: #bababa;
}
.DIVISION-10 > a > button{
    padding: 1rem 4rem;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    background: linear-gradient(to top right, #465EB7,#6D40D2);
    color: white;
    width: 100%;
    font-size: 17px;
}
@media screen and (max-width: 745px){
    .wrap-last{
        width: 100%;
    }
    .wrap-last > .f1{
        font-size: 45px;
    }
    .wrap-last > .f2{
        font-size: 18px;
    }
}
@media screen and (max-width: 520px){
    .wrap-last{
        width: 100%;
    }
    .wrap-last > .f1{
        font-size: 35px;
    }
    .wrap-last > .f2{
        font-size: 18px;
    }
    .DIVISION-10 > img{
        width: 21%;
    }
}
